/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
Homestead-new.yaml
npm-debug.log
yarn-error.log

/.vscode
todo
.todo
/.todo
TODO
.TODO
/.TODO

.vagrant/
